<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>Hello! This is my personal blog page where I'll be sharing my posts, articles and projects with you.</p>
    <p>Now I have only one article available on this web-site but soon I'll add more. And <a href="/projects/">The Projects</a> section is now has only this blog included.</p>
    <p>Stay tuned for upcoming updates</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><%= link_to post.title, post %></h3>
      <p class="date"><%= post.created_at.strftime('%A, %b %d') %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project %></h3>
      <p class="date"><%= project.created_at.strftime('%A, %b %d') %></p>
    <% end %>
  </div>
</div>